.sidebar-background-1{
    background-image: url("./assets/img/sidebar/sidebar-1.jpg");
}
.sidebar-background-2{
    background-image: url("./assets/img/sidebar/sidebar-2.jpg");
}
.sidebar-background-3{
    background-image: url("./assets/img/sidebar/sidebar-3.jpg");
}
.sidebar-background-4{
    background-image: url("./assets/img/sidebar/sidebar-4.jpg");
}
.sidebar-background-5{
    background-image: url("./assets/img/sidebar/sidebar-5.jpg");
}
.non-selectable {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}
